{% extends 'Holdings/base.html' %}

{% load static %}

{% block content %}

<div class="main__cards">

    <div class="add__card">
        <button id="openModal" class="modal__btn">+</button>
    </div>
    
    <ul>
        {% for post in posts %}
        <li class="venue__li">
            <div class="card">
                <h3 class="card__title">{{ post.name }}</h3>
                <p class="card__subtitle">{{ post.location }}</p>
                <div class="card__actions">
                    <button class="card__change">🗑️</button> 
                    <button class="card__change">👁️</button> 
                    <button class="card__change">✏️</button> 
                    

                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    

    <div id="modal" class="modal">
        <div class="modal__content">
            <span id="closeModal" class="modal__close" method="post">&times;</span>
            <h2>Добавление</h2>
            <form class="modal__form" action="{% url 'holdingmainpage' %}" method="post">
                {% csrf_token %}
 
                {% for f in form %}
                <p><label for="{{ f.id_for_label }}">{{ f.label }}</label> {{ f }}</p>
                <div class="form__error">{{ f.errors }}</div>

                {% endfor %}
                
                <!-- Навигация -->
                <div class="modal-footer">
                    <span>1/2</span>
                    <button type="submit" class="next-btn">→</button>
                </div>
            </form>
        </div>
    </div>

</div>

<!-- Подключение JS -->
<script type="text/javascript" src="{% static 'js/add_venue.js' %}"></script>
{% endblock %}
