{% extends 'Holdings/base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <!-- Add New Card Button -->
    <div class="add-card">
        <button id="openModal" class="btn">+</button>
    </div>
    
    <ul>
        {% for post in posts %}
        <li class="li_style">
            <div class="card">
                <h3>{{ post.name }}</h3>
                <p>{{ post.location }}</p>
                <div class="actions">
                    <button>🗑️</button> <!-- trasjjjkl;;kkh -->
                    <button>👁️</button> <!-- eye -->
                    <button>✏️</button> <!-- pen -->
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="closeModal" class="close" method="post">&times;</span>
            <h2>Добавление</h2>
            <form class="modal-form" action="{% url 'holdingmainpage' %}" method="post">
                {% csrf_token %}
 
                {% for f in form %}
                <p><label for="{{ f.id_for_label }}">{{ f.label }}</label> {{ f }}</p>
                <div class="form__error">{{ f.errors }}</div>

                {% endfor %}
                
                <!-- Навигация -->
                <div class="modal-footer">
                    <span>1/2</span>
                    <button type="submit" class="next-btn">→</button>
                </div>
            </form>
        </div>
    </div>

</div>

<!-- Подключение JS -->
<script type="text/javascript" src="{% static 'js/add_venue.js' %}"></script>
{% endblock %}
