.venue__meta {
    position: absolute; /* Абсолютное позиционирование для venue__meta */
    top: 30%; /* Позиционируем верхний край элемента в середине родительского элемента */
    right: 25px; /* Отступ 10px от правого края section */
    display: flex;
    flex-direction: column; /* Располагаем элементы друг под другом */
    align-items: flex-end; /* Выравниваем элементы по правому краю */
    gap: 20px; /* Отступ между элементами */
    text-align: right; /* Выравниваем текст внутри span по правому краю */
  }