{% load static %}

<!DOCTYPE html>
   <html lang="ru">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="{% static 'log_reg_style.css' %}">

      <title>login</title>
   </head>
   <body>
      <div class="login">
         <img src="media/img_log_reg.jpg" alt="image" class="login__bg">

         <form action="" class="login__form">
            <h1 class="login__title">Вход</h1>

            <div class="login__inputs">
               <div class="login__box">
                  <input type="email" placeholder="Почта" required class="login__input">
               </div>

               <div class="login__box">
                  <input type="password" placeholder="Пароль" required class="login__input">
               </div>
            </div>

            <div class="login__check">

               <a href="#" class="login__forgot">Забыли пароль?</a>
            </div>

            <button type="submit" class="login__button">Войти</button>

            <div class="login__register">
               Нет аккаунта? <a href="{% url 'first_step_registr' %}">Зарегестрироваться</a>
            </div>
         </form>
      </div>
   </body>
</html>