{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'reg_style.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h2>Регистрация</h2>
            <form method="post" action="{% url 'first_step_registr' %}">
                {% csrf_token %}
                {{ form.as_p }}
            </form> 
            <button type="submit"><a href="{% url '' %}">Сохранить</button>
        </div>
    </div>
</body>
</html>