.login__input {
    width: 100%;
    background: none;
    color: var(--white-color);
    padding-block: 1rem;
    border: none;
  outline: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  }
  
  .login__input::placeholder {
    color: var(--white-color);
  }