{% extends 'Users/base.html' %}

{% load static %}

{% block content %}

<h1>Популярные площадки</h1>

<ul>
    {% for venue in popular_venues_details %}
    <a href="{% url 'catalog_placepage' venid=venue.id %}" class="venue__link">
    <li class="venue__li">
        <section class="venue">
            {% for photo in photos %}
            <img class="venue__image" src="{{ photo.image.url }}" width="200" height="200" >
            {% endfor %}
            <div class="venue__info">
                <h2 class="venue__title">{{ venue.name }}</h2>
                <p class="venue__description">{{ venue.description }}</p>
                <p class="venue__location">{{ venue.location }}</p>
                
            </div>
            <div class="venue__meta">
                <span class="venue__span">{{ venue.square }}</span>
                <span class="venue__span">{{ venue.capacity }}</span>
                <span class="venue__span">рейтинг </span>
            
            </div>
        </section>
    </li>
    </a>
    {% endfor %}
    
</ul>


<h1>Обычный вывод</h1>
<hr>
<ul>
    {% for post in posts %}
    <a href="{% url 'catalog_placepage' venid=post.id %}" class="venue__link">
    <li class="venue__li">
        <section class="venue">
            {% for photo in photos %}
            <img class="venue__image" src="{{ photo.image.url }}" width="200" height="200" >
            {% endfor %}
            <div class="venue__info">
                <h2 class="venue__title">{{ post.name }}</h2>
                <p class="venue__description">{{ post.description }}</p>
                <p class="venue__location">{{ post.location }}</p>
                
            </div>
            <div class="venue__meta">
                <span class="venue__span">{{ post.square }}</span>
                <span class="venue__span">{{ post.capacity }}</span>
                <span class="venue__span">рейтинг </span>
            
            </div>
        </section>
    </li>
    </a>
    {% endfor %}
    
</ul>

<script type="text/javascript" src="{% static 'js/control.js' %}"></script>

{% endblock %}
